
body
{
	background-color: silver;
}

#main
{
	background-color: white;
}

tr.odd
{
	background: white;
}
tr.even
{
	background: #eee;
}
th
{
	background: #999;
	color: #eee;
}

a.marked-for-deletion
{
	background-color: Red;
}
a.marked-for-deletion img
{
	border-color: Red;
	opacity: 0.7;
}
a.not-marked-for-deletion img
{
	border-color: transparent;
}
li.marked-for-deletion span
{
	color: #aaa;
}

a.cms-delete,
a.cms-delete:hover,
a.cms-delete:active,
a.cms-delete:visited
{
	color: #c33;
}
