
*
{
	font-family: Helvetica, Arial, sans-serif;
}

a, a:visited, a:active
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}

#footer
{
	/*font-size: 11px;*/
	text-align: right;
}

th
{
	text-align: left;
}

td.center, th.center
{
	text-align: center;
}

#main-column h3
{
	font-size: 2em;
	font-weight: normal;
}

/*

div.status
{
	text-align: center;
}

ul.warnings
{
	font-size: 12px;
}

div.error-list li
{
	font-size: 14px;
	text-align: center;
}

*/

li.marked-for-deletion span
{
	text-decoration: line-through;
}

div.cms-accordion h5
{
	/*font-size: 16px;*/
}
